$main-color: #009688;
$nav-color: #1fc8db;
$white-color: #f4f4f4;
$black-color: #404040;
$black-second-color: #282e34;
$grey-color: #666666;
$google-color: #db4a39;
$facebook-color: #3b5998;
$twitter-color: #00acee;

