$main-color: #00c9be;
$second-color:#ff5ca6;
$nav-color: #1fc8db;
$white-color: #f4f4f4;
$main-white-color: #ffffff;
$black-color: #404040;
$black-second-color: #282e34;
$grey-color: #666666;
$google-color: #db4a39;
$facebook-color: #3b5998;
$twitter-color: #00acee;
$error-color: #ff0033;

