<div class="navigation-bar">
  <div class="menu">
    <a 
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home
    </a>
    <a 
      routerLink="/begin-here"
      routerLinkActive="active">Begin Here
    </a>
    <a href="#">FAQ</a>
    <a href="#">Shape the Future</a>
    <a href="#">Success stories</a>
    <a 
      *ngIf="user"
      routerLink="/program"
      routerLinkActive="active">Program
    </a>
    <a 
      routerLink="/contact"
      routerLinkActive="active">Contact</a>
    <a 
      *ngIf="!user" 
      routerLink="/login"
      routerLinkActive="active">Log in
    </a>
    <a *ngIf="user" (click)="logoutUser()">Log out</a>
  </div>
</div>