@import '../../../content/style/variables';

.navigation-bar {
  color: $grey-color;
  font-weight: bold;
  font-size: 1.2rem;

  .login-logout {
    background-color: $white-color;
    text-align: right;
    letter-spacing: 0.2rem;

    a {
      text-transform: uppercase;
      padding-right: 2rem;
      text-decoration: none;
      color: $black-second-color;

      &:hover {
        cursor: pointer;
        color: $grey-color;
      }
    }
  }

  .menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $nav-color;
    background: linear-gradient(141deg, $black-color 0%, #1fc8db 51%, $black-color 100%);
    letter-spacing: 0.3rem;
    z-index: 10;

    a {
      text-decoration: none;
      color: $white-color;
      text-transform: uppercase;
      padding: 2rem 4rem;
      border-left: solid 2px $white-color;

      &:hover {
        color: $black-color;
      }
    }

    a:last-child {
      border-right: solid 0.2rem $white-color;
    }
  }
}
