<div class="container">
  <mat-card class="card">
      <div class="card-header">
          <h2>Create An Account</h2>
        </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="form-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Email address.."
          formControlName="email">
          <mat-error *ngIf="registerForm.controls.email.hasError('pattern') && !registerForm.controls.email.hasError('required')">
            Please enter a valid email address
         </mat-error>
         <mat-error *ngIf="registerForm.controls.email.hasError('required')">
           Email is <strong>required</strong>
         </mat-error>
      </mat-form-field>
     
      <mat-form-field>
        <input
          formControlName="password"
          matInput placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="registerForm.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="btn-container">
        <button>CREATE</button>
      </div>
    </form>
  </mat-card>
</div>
