<div class="home-component">
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt esse natus nihil, numquam perferendis provident quasi quo quod! Enim.</p>
        <button>Lorem ipsum</button>
      </span>
    </div>
  </div>

  <section class="section section-light section-one">
    <div class="image"></div>
    <div class="bibliography">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam aliquid aspernatur assumenda
        autem blanditiis consequatur corporis dicta dignissimos doloribus dolorum eius et ex excepturi exercitationem
        explicabo id illo illum impedit iste maxime molestiae nemo nisi non obcaecati odit officia officiis quae, quas
        quia quidem reiciendis rem repellendus similique tenetur vel? Adipisci aliquid consectetur corporis cumque
        doloremque eius impedit maiores minus natus nisi officia officiis, pariatur quam qui quisquam, quo repellendus,
        sed unde veniam veritatis voluptas voluptatem voluptatum. Asperiores aspernatur earum fugit, molestiae neque
        nesciunt. Adipisci blanditiis cum dignissimos distinctio ipsam nam odio porro qui quibusdam sint, voluptatibus
      </p>
      <p><strong> - Elena Chiriac</strong></p>
    </div>
  </section>

  <div class="pimg2">
    <div class="ptext ptext-tow">
      <span class="image-tow">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque dolorum ducimus esse et fugiat hic id illo magnam optio praesentium, quaerat quisquam sit ut velit vero vitae voluptatem voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi debitis eveniet harum in nostrum, optio praesentium quidem quisquam veritatis.</p>
      </span>
    </div>
  </div>

  <section class="section section-light stories">
    <h2>Success Stories</h2>
    <div class="success-stories">
      <div class="story story1">
        <button>READ MORE</button>
      </div>
      <div class="story story2">
        <button>READ MORE</button>
      </div>
      <div class="story story3">
        <button>READ MORE</button>
      </div>
    </div>
    <div class="success-stories">
      <div class="story story4">
        <button>READ MORE</button>
      </div>
      <div class="story story5">
        <button>READ MORE</button>
      </div>
      <div class="story story6">
        <button>READ MORE</button>
      </div>
    </div>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="image-three">
        <h2>Want to connect?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi debitis eveniet harum in nostrum, optio praesentium quidem quisquam veritatis.</p>
        <p class="social-icon">
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        </p>
      </span>
    </div>
  </div>

  <section class="section section-light footer">
    <div class="privacy">
      <a href="#">PRIVACY POLICY</a>
      <a href="#">TERMS AND CONDITIONS</a>
      <a href="#">TERMS OF USE</a>
    </div>
    <div>
      <p> &copy; 2019 LOREM IPSUM DOLOR SIT</p>
    </div>
  </section>
</div>
