@import "../../../../content/style/variables";

app-login {
  .container {
    width: 30%;
    margin: auto;
    // background-color: $white-color;
    padding-top: 16rem;

    .card {
      background-color: $main-white-color;
    }

    .card-header {
      text-align: center;
      padding-bottom: 2rem;
      color: $second-color;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      padding: 6rem 0;

      mat-form-field:first-child {
        padding-bottom: 1rem;
      }
      .forgotten-password {
        text-align: right;
        a {
          text-decoration: none;
          color: $second-color;
          font-size: 1.2rem;
          &:hover {
            color: $grey-color;
            cursor: pointer;
          }
        }
      }
    }

    .login-buttons {
      display: flex;
      text-align: center;
      justify-content: space-between;

      .btn-wrap {
        width: 90%;
      }

      button {
        width: 95%;
        border: none;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        color: $white-color;
        letter-spacing: 0.2rem;
        font-weight: 700;
        opacity: 0.9;
        i {
          padding-right: 0.5rem;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      .google {
        background: $google-color;
      }

      .facebook {
        background: $facebook-color;
      }
    }

    .btn-container {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;

      button {
        width: 49%;
        border: none;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        color: $white-color;
        letter-spacing: 0.2rem;
        opacity: 0.9;
        font-weight: 700;
        background-color: $main-color;

        &:hover {
          opacity: 1;
          cursor: pointer;
          color: $second-color;
        }
      }
    }
  }
}
