<div class="container">
  <mat-card class="card">
      <div class="card-header">
          <h2>Please enter your email address</h2>
        </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-form-field>
        <input matInput placeholder="Email address.." formControlName="email">
        <mat-error *ngIf="resetPasswordForm.controls.email.hasError('pattern') && !resetPasswordForm.controls.email.hasError('required')">
          Please enter a valid email address
       </mat-error>
       <mat-error *ngIf="resetPasswordForm.controls.email.hasError('required')">
        A valid email address is <strong>required</strong>
       </mat-error>
      </mat-form-field>
      <div class="btn-container">
        <button>Password Reset</button>
      </div>
    </form>
  </mat-card>
</div>