@import '../../../../content/style/variables';

.snack-bar {
    text-align: center;
    color: $white-color;
}
.error-message {
    background-color: $error-color;
}

.success-message {
    background-color: $nav-color;
}
