@import "../../../../content/style/variables";

.snack-bar {
  text-align: center;
  color: $white-color;
  letter-spacing: 0.2rem;
  h4 {
   margin: 0;
  }
}
.error-message {
  background-color: $error-color;
}

.success-message {
  background-color: $main-color;
}
